# This file is now also part of the www repo.

RewriteEngine On
RewriteRule ^transition-buildd-exp$ transition-buildd-experimental [N]
RewriteRule ^transition-buildd-(experimental|sid)$ https://buildd.debian.org/status/package.php?p=akonadi,libktorrent,polkit-kde-1,polkit-qt-1,meta-kde,kde4libs,kdeaccessibility,kdeadmin,kdeartwork,kdebase,kdebase-runtime,kdebase-workspace,kdeedu,kdegames,kdegraphics,kdemultimedia,kdenetwork,kdepimlibs,kdepim,kdepim-runtime,kdeplasma-addons,kdesdk,kdetoys,kdeutils,kdewebdev&suite=$1 [R=302,B,QSA]

# Qt Stuff
RewriteRule ^qt-buildd-(sid|experimental)$ https://buildd.debian.org/status/package.php?p=qt4-x11,qtwebkit,qtcreator,qtchooser,qtbase-opensource-src,qttools-opensource-src,qtxmlpatterns-opensource-src,qtscript-opensource-src,qtjsbackend-opensource-src,qtdeclarative-opensource-src,qt3d-opensource-src,qtlocation-opensource-src,qtconnectivity-opensource-src,qtmultimedia-opensource-src,qtgraphicaleffects-opensource-src,qtwebkit-opensource-src,qtwebkit-examples-opensource-src,qtquick1-opensource-src,qtquickcontrols-opensource-src,qtsensors-opensource-src,qtsvg-opensource-src,qtserialport-opensource-src,qttranslations-opensource-src,qtx11extras-opensource-src,qtimageformats-opensource-src,qtdoc-opensource-src&suite=$1&compact=1
